<footer class="bg-dark text-white py-4" style="margin-top: 700px;">
    <div class="container">
        <div class="row">
            <!-- Footer Column 1 -->
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>RaidX is your one-stop destination for Kabaddi, connecting fans, players, and organizers. From tournaments to team building and player stats, we’re here to elevate India’s beloved sport. Join us to celebrate the passion and spirit of Kabaddi!</p>
            </div>

            <!-- Footer Column 2 -->
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Services</a></li>
                    <li><a href="#" class="text-white text-decoration-none">About Us</a></li>
                </ul>
            </div>

            <!-- Footer Column 3 -->
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>
                    <i class="bi bi-geo-alt"></i>Naugachia, Bhagalpur<br>
                    <i class="bi bi-telephone"></i>8797117274<br>
                    <i class="bi bi-envelope"></i> erdiwakar6@gmail.com
                </p>
            </div>
        </div>
        <hr class="bg-white">
        <div class="text-center">
            <p class="mb-0">© 2025 RaidX. All rights reserved.</p>
        </div>
    </div>
</footer>